PROJECT_NAME="test-forty-third"
PROJECT_SLUG=test-forty-third
GITHUB_REPOSITORY=test-forty-third
LINEAR_PROJECT_KEY=TEST_FORTY_THIRD
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
